body {
    background-color: rgb(0, 0, 33);
    color: white;
    font-family: 'Poppins', sans-serif;
  
  }
  
  * {
    padding: 0;
  }
  
  nav {
    display: flex;
    height: 50px;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(122, 190, 202);
  
  }
  
  nav ul li {
    list-style: none;
    margin: 0 20px;
  
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  nav ul li a:hover {
    color: rgb(14, 233, 222);
    font-size: 1.1rem;
  }
  
  
  nav ul {
    display: flex;
    justify-content: space-around;
  }
  
  header {
    text-align: center;
  }
  
  header h1 {
    margin: 30 px;
    font-size: 1 em;
  }
  
  header p {
    font-style: italic;
  }
  
  section {
    margin: 20px 0;
  }
  
  img {
  
    height: 600px;
    width: 300px;
    border-radius: 10px;
    margin: 80px;
  }
  
  .bio {
    max-width: 600px;
    margin-top: 300px;
    margin: 250px;
    text-align: center;
    font-size: 1.5rem;
  }
  
  #about {
  
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
  
  
  }
  
  .skills ul {
    list-style-type: none;
    padding: 0;
  }
  
  .skills li {
    display: inline-block;
    margin: 0 10px;
  }
  
  
  
  .right {
    font-size: 1 rem;
    font-style: italic;
  }
  
  .contact {
    text-align: left;
    margin: 20px;
  }
  
  
  .secondsection {
    max-width: 80vw;
    margin: auto;
  }
  
  .box {
    background: white;
    width: 800px;
    height: 2px;
    margin: 130px;
    display: flex;
  
  }
  
  .line {
    height: 100px;
    width: 1px;
    background-color: white;
    margin: 0 100px;
  }
  
  .imgtop {
    width: 30px;
    height: 40px;
    position: relative;
    top: -130px;
    left: -95px;
  }
  
  .linetxt {
  
    margin: -90px -20px;
  }
  
  main hr {
    margin: 0px;
  
  }
  
  .web {
    color: blueviolet;
  }
  
  #resume {
    margin: 200px;
  }
  
  .aboutus {
    text-align: center;
    margin: 100px;
  }
  
  
  .imgjiit {
    width: 30px;
    height: 30px;
    margin: 0%;
    padding: 0%;
  }
  
  .skills {
    font-size: 1.5rem;
    text-align: center;
  }
  
  
  .jiit {
    color: blueviolet;
  }
  
  #contact {
    text-align: right;
    margin-top: 250px;
    margin-left: 20px;
  }
  
  
  #resume {
    margin: 400px;
  
  }
  
  .work {
    height: 40px;
    margin: 10px;
  }
  
  .button {
    height: 40px;
    width: 150px;
    font-size: 1.3rem;
    text-decoration: none;
  }
  
  .inline-container {
    display: inline-block;
    border: 1px solid #ccc;
    width: 410px;
    height: 500px;
    margin-top: 190px;
    margin-inline: 10px;
    border-radius: 10px;
  }
  
  .join {
    margin: 10px;
  }
  
  .intro {
    margin: 10px;
  }